.body{
    background-color: rgb(35, 35, 35);
}

.title{
    color: white;
    font-size: 70px;
    margin-top: 70px;
}

#count{
    color: white;
}


.button{
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    border-radius: 15px;
}